{% extends 'base.html' %}
{% block content %}

<h1>{{ business.name }}</h1></br>

<div class="details-card">
  <div class="details-image" style="background-image: url({{business.image.url}});"> 
  </div>

  <div class="details-card-text">
    <p>Category: {{ business.category }}</p>
    <p>Description:</br>  {{ business.description }}</p>
    <p>Address:</br> {{ business.address }}</br>
    {{ business.city }}, {{ business.province }}, {{ business.postal_code }}</p>
    <p> <button><a href ='{{ business.website }}'>shop website</a> </button></p>
     
    <div class="card-action">
        <p><button> <a href="{% url 'businesses_update' business.id %}">Edit</a></button>
          <button><a href="{% url 'businesses_delete' business.id %}">Delete Business</a></button></p>
      </div>
  </div>
</div>

{% endblock %}