{% extends 'base.html' %}
{% block content %}

<h1>business details</h1>


<div id="flex-grid">
  
  <img id="col1" src="{{business.image.url}}" width="500px" height="auto">

  <div id="col2">

    <span class="card-title">{{ business.name }}</span>
    <p>Address: {{ business.address }}</p>
    <p>City: {{ business.city }}</p>
    <p>Provice: {{ business.province }}</p>
    <p>Postal Code: {{ business.postal_code }}</p>
    <p>Website: {{ business.website }}</p>
    <p>Category: {{ business.category }}</p>
    <p>Description: {{ business.description }}</p>
    
    
  <br>
  
    <a href="{% url 'businesses_update' business.id %}"><button>Edit</button></a>
    <a href="{% url 'businesses_delete' business.id %}"><button> Delete My Business</button></a>

  <br>

  </div>
</div>
</div>



<hr>
<div class="row">
  <div>
    <h3>{{ business.name }}'s Products</h3>
    <br>
    
    {% for product in business.product_set.all %}
    <div class="card">
      <div class="card-content">
        <img src="{{product.image.url}}" width=260px> 
        <span class="card-title">{{ product.name }}</span>
        <br>
        <a href="{{ product.url }}">Product Website</a>
        <p>Description: {{ product.description }}</p>
        
        <br>
        <a href="{% url 'edit_product' product.id %}"><button>Edit</button></a>
        <a href="{% url 'delete_product' product.id %}"><button>Delete</button></a>
        
        
      </div>
    </div>
    {% endfor %}
    
  </div>
  <!-- Available toys will come after this line -->
  
  <div id="col3">
    <form action="{% url 'add_product' business.id %}" method="post">
      {% csrf_token %}
      {{ product_form.as_p }}
      <input type="submit" class="btn" value="Add Product!">
    </form>
  </div>
  {% endblock %}