{% extends 'base.html' %}
{% block content %}

{% if businesses.count %}
    {% for business in businesses %}
    <a href="{% url 'detail' business.id %}">
        <div class="card" style="background-image: url({{business.image.url}});">
                <div class="card-content">
                <span class="card-title">{{ business.name }}</span>
                </br>
                <p>Category: {{ business.category }}</p>

                </div>
        </div>
    </a>

    {% endfor %}
{% else %}
    <h3>No favourites added yet. <a href = "{% url 'index' %}">Browse businessses</a></h3>

{% endif %}


{% endblock %}