{% extends 'base.html' %}
{% block content %}

<h1>business listings</h1>
<div class = 'index_info'>
  <form method="GET">
    {{category_filter.form}} <button type = 'submit'>search</button>
  </form>
</div>
{% for category in category_filter.qs %}
<a href="{% url 'detail' category.id %}">
  <div class="card" style="background-image: url({{category.image.url}});">
          <div class="card-content">
          <span class="card-title">{{ category.name }}</span>
          </br>
          <p>Category: {{ category.category }}</p>

          </div>
  </div>
</a>

{% endfor %}

{% endblock %}