{% extends 'base.html' %}
{% block content %}

<h1>my business listings</h1>

<h1>{{user.name}}</h1>

{% if businesses.count %}
    {% for business in businesses %}
    <a href="{% url 'detail' business.id %}">

        <div class="card" style="background-image: url({{business.image.url}});">
            <!-- <img src= "{{business.image.url}}"> -->
                <div class="card-content">
                <span class="card-title">{{ business.name }}</span>
                </br>
                <p>Category: {{ business.category }}</p>

                </div>
        </div>
    </a>
    {% endfor %}
{% else %}
    <h3>No businesses added yet. <a href = "{% url 'businesses_create' %}">Add a business!</a></h3>
{% endif %}

{% endblock %}