body {
    font-family: 'Bentham', serif;
    background-color: rgb(236, 235, 226);
    margin: 0 80px 0 80px;
}

h1 {
    text-align: center;
}

/* NAV BAR */
nav {
    display: flex;
    background-color: #c3c6b1;
    justify-content: flex-end;
    margin: 0 -80px 0 -80px
}

nav > h2{
    margin-right: auto;
    padding: 0px 40px 0px 20px;
    font-size: 30px;
  }

nav a, .dropdown {
    text-decoration: none;
    margin: auto 35px auto 35px;
    color: white;
    font-size: 25px;
    display: inline-block;
    position: relative;
    text-align: center;
  }

nav a:after {    
    bottom: 0;
    content: "";
    height: 2px;
    left:50%;
    position: absolute;
    background: white;
    transition: width 0.5s ease 0s, left 0.3s ease 0s;
}

nav a:hover:after { 
    width: 100%; 
    left: 0%; 
    background: black;
}

nav a:hover {
    color: black
}



.card {
    position: relative;
    display: inline-flex;
    margin: 20px;
    background-color: #c3c6b1;
    font-size: 25px;
    width: 300px;
    height: 400px
}

.card-content {
    color: black;
    text-align: center;
    align-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    width: 300px;
    padding: 0px


}

.card-content:hover {
    color: white
}

.card-title {
    font-size:40px;
}

p {
    margin: 15px 0 15px 0
}