body {
    font-family: 'Bentham', serif;
    background-color: rgb(236, 235, 226);
    margin: 0 80px 0 80px;
}

h1 {
    text-align: center;
}

/* NAV BAR */
nav {
    display: flex;
    background-color: #c3c6b1;
    justify-content: flex-end;
    margin: 0 -80px 0 -80px
}

nav > h2{
    margin-right: auto;
    padding: 0px 40px 0px 20px;
    font-size: 30px;
  }

nav a {
    text-decoration: none;
    margin: auto 35px auto 35px;
    color: white;
    font-size: 25px;
    display: inline-block;
    position: relative;
    text-align: center;
  }

nav a:after {    
    bottom: 0;
    content: "";
    height: 2px;
    left:50%;
    position: absolute;
    background: white;
    transition: width 0.5s ease 0s, left 0.3s ease 0s;
}

nav a:hover:after { 
    width: 100%; 
    left: 0%; 
    background: black;
}

nav a:hover {
    color: black
}

/* index */

.card {
    position: relative;
    display: inline-flex;
    margin: 20px;
    background-color: #c3c6b1;
    font-size: 25px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.card:hover {
    opacity: 0.8;
    cursor: pointer;
}

.card:hover .card-content {
    color: white
}

.card-content {
    color: black;
    text-align: center;
    align-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    padding: 0px;
    background-color: #c3c6b1;
    border-radius: 5px;
}

.index_form {
    margin: 20px;

}




.card-title {
    font-size:40px;
}

p {
    margin: 15px 0 15px 0
}
.delete-form{
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
}
.delete-form a {
    font-size: 20px;
    color: #95AA63;
    text-decoration: none;
}
.delete-form a:hover{
    color: #353d23;
   
}
.btn {
    background-color: white;
    color: black;
    border: 2px solid #95AA63;
    text-align: center;
    padding: 12px 28px;
}
.btn:hover{
    background-color: #95AA63;
    padding: 14px 30px;
}

.createform{
  line-height: 30px;
  
}


/* details page */
.details-card {
    display: flex;
    position:relative;
    justify-content: center;
    gap: 15px;
    align-items: center;
} 
.details-image {
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
.details-card-text {
    background-color: #c3c6b1;
    border-radius: 5px;
    width: 370px;
    height: 500px;
    font-size: 25px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

.details-card a, button {
    text-decoration: none;
    font-family: 'Bentham', serif;
    font-size: 20px;
    color: black

}
.details-card-text p {
    padding-top: 5px;
    padding-left: 30px;
}

.details-card button {
    border-radius: 5px;
}   

.details-card form {
    padding-left: 30px;
    }

/* buttons */

button:hover {
    border-radius: 5px;
    background-color: lightgrey;  
    cursor: pointer;

}  

a:hover, button:hover {
    color: white;
}  



/* add new form */

.createform {
    display: flex;
    justify-content: space-evenly;
    background-color: #c3c6b1;
    padding: 15px;
    width: 450px;
    margin:auto;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
}

.createform td {
justify-items: center;
text-align: center;
}

#id_image {
    padding-left: 45px;
}
